.places {
  margin: 92px auto 0;
  padding: 0 148px;
  color: #fff;
  max-width: 1280px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
    padding: 0 48px;
  }
}
@media screen and (min-width: 690px) and (max-width: 768px) {
  .places {
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 690px) {
  .places {
    margin-top: 64px;
    padding: 0;
  }
}
