.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 auto;
  padding: 28px 48px 0;
  max-width: 1280px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px 16px 0;
  }
}
