.footer__author {
  font-size: 14px;
  line-height: 1.1;
  margin: 0;
}

@media screen and (max-width: 690px) {
  .footer__author {
    margin-top: 48px;
    font-size: 14px;
    line-height: 1;
  }
}
