.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
}
@media screen and (min-width: 390px) and (max-width: 690px) {
  .lead__title {
    max-width: 640px;
    font-size: 55px;
  }
}
@media screen and (max-width: 390px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
  }
}
